<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_bot_desciption">
    <xacro:arg name="use_sim_time" default="true" />
    <!-- Include the Gazebo-specific ros2_control configuration -->
    <xacro:include filename="$(find my_bot_description)/urdf/diffbot.ros2_control.xacro" />

    <!-- Include the rest of your robot's description 
         (assuming it's in a file like 'my_bot_parts.urdf' or similar) -->
    <xacro:include filename="$(find my_bot_description)/urdf/my_bot.urdf" />

    <!-- Instantiate the Gazebo ros2_control plugin -->
    <xacro:diffbot_ros2_control name="GazeboSystem" use_sim_time="true" use_mock_hardware="false" />

</robot>
